$block-margin: 30px;
$main-bg: rgba(41, 117, 141, 0.63);
$main-color: #3085a3;
$light-bg: rgba(255,255,255,0.7);

$max-width:1600px;
$categories-height:40px;

$project-searching-margin-top: $categories-height + $block-margin;

.projects_view{
  position: relative;
  background-color: ($color-main / 2);
  z-index: 100;

  @include sizes(100%,100%);

  max-width: $max-width;
  overflow: hidden;
  opacity: 1;

  margin: 0 auto;
  padding: 0;

  &.ng-hide-add,
  &.ng-hide-remove {
    transition: all linear 0.5s;
  }

  &.ng-hide{
    opacity: 0;
  }
}


.projects-menu{
  position: relative;
  z-index: 200;
  width: 100%;

  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;

  background-color: white;
  display: block;
  text-align: center;
  padding: 7px 50px 7px 0;
  box-shadow: -1px 2px 10px 1px $shadow-black;


  @include respond-to(wide-screens){
    border-radius: 0 0 5px 5px;
    padding: 5px 0;
    max-width: $max-width;
  }


  & .categories{
    list-style: none;
    width: 100%;
    height: $categories-height;
    overflow: hidden;
    padding: 0;
    display: block;
    position: relative;
    z-index: 201;

    & ul{
      display: flex;
      flex-direction: row;
      justify-content: center;
      position: relative;
      z-index: 202;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;

      & li {
        display: block;
        width: auto;

        position: relative;
        z-index: 203;

        cursor: pointer;
        height: 100%;
        line-height: ($categories-height / 2);
        font-size: 1.2em;
        font-weight: 100;
        letter-spacing: -2px;
        word-spacing: 2px;
        text-transform: uppercase;

        text-wrap: none;
        wrap-option:  none;


        flex: 1;
        opacity: 0.6;

        & span {
          position: absolute;

          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          text-transform: uppercase;
          font-weight: 300;
          visibility: hidden;
          opacity: 0.5;

          background-color: $main-color;
          color: white;
          display: block;
          border-radius: 20px;
          width: 20px;
          height: 20px;
          padding: 0;
          margin: 0;
          text-align: center;
          letter-spacing: 0;
          word-spacing: 0;
        }

        &:hover, &.active {
          opacity: 1;
          color: ($color-main / 1.2);
        }

        &.active{
          & span{
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }

  }
}

.projects_search{
  @include scrollBar(5px, #25667c, #3699bb);

  position: relative;
  z-index: 98;
  width: 100%;
  height: calc(100% - #{$categories-height} + 14px);
  overflow: scroll;
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;

  @include respond-to(wide-screens){
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }


  & ul {
      padding: 0;
      margin: 0 auto;
      width: 100%;
      list-style: none;
      text-align: left;

      @include respond-to(wide-screens){
        width: 100%;
        margin: 0 auto;

        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

      }

      & li.project-elements {
        $margining: 1em;

        cursor: pointer;
        max-width: 450px;
        width: 100%;
        height: 300px;
        padding: 10px 0;
        margin: 40px auto;
        position: relative;
        overflow: hidden;
        z-index: 97;

        &:nth-last-of-type(-n+1):not(:nth-child(even)){
          @include respond-to(wide-screens){
            transform: translate3d(calc(-50% - 1em),0,0);
          }
        }

        @include respond-to(wide-screens){
          width: calc(50% - 2em);
          height: 28em;
          box-shadow: 0 0 10px 0 $shadow-black;
          position: relative;
          z-index: 97;
          display: inline-block;
          overflow: hidden;
          margin: $margining;
          padding: $margining;
        }


        & figure{
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: relative;
          background-color: $color-main / 2;
          z-index: 98;


          & .preloading_img{
            @include sizes(100%, 100%);
            display: block;
            margin: 0;
            padding: 0;
            z-index: 98;
            position: relative;

            & img {
              width: 100%;
              height: 100%;
              display: block;
              z-index: 99;
              position: relative;
            }
          }


          & figcaption{
            position: absolute;
            z-index: 100;
            bottom: 1em;
            left: 1em;
            padding: 1em;
            max-width: calc(100% - 60px - 1em);
            text-wrap: none;
            display: block;
            text-transform: uppercase;

            background-color: $shadow-black;
            color: white;


            & h2{
              font-size: 2em;
              font-weight: 800;
              letter-spacing: 3px;
              margin: 0;
            }
            & span{
              letter-spacing: 3px;
              display: block;
              width: 100%;
            }
          }

        }

      }
  }
}


.project-elements {
  position: relative;
  background-color: #9fafff;
  &.active{
    background-color: yellowgreen;
    transition: background-color 0.3s;
  }

  & figure{
    box-shadow: 0 0 5px 0 $shadow-black;
  }


  & .project-views{

    position: absolute;
    top: 0;
    right: 0;
    height: 100%;

    @include respond-to(wide-screens){
      top: 1em;
      right: 1em;
      height: calc(100% - 2em);
      width: 60px;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    z-index: 1000;

    $width: 300px / 5;

    width: $width;


    & li {
      $size: 60px;
      @include respond-to(wide-screens){
        width: $size;
        height: $size;
      }

      height: $width;
      margin: 0;
      padding: 0;
      opacity: 0.9;
      background-color: $color-main / 1.2;
      cursor: pointer;

      & a {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;

        & .svg-icons {
          width: 100%;
          height: 100%;

          & svg {
            fill: white;
            transform: scale(0.6);
            transition: transform 0.5s, fill 0.5s;
          }
        }
      }

      &:hover {
        opacity: 1;
        & a .svg-icons svg {
          transform: scale(0.9);
          transition: transform 0.5s, fill 0.5s;
        }
        transition: opacity 0.5s;
      }

      &.active {
        opacity: 1;
        & a .svg-icons svg {
          transform: scale(0.9);
          transition: transform 0.5s, fill 0.5s;
        }
        transition: opacity 0.5s;
      }
    }
  }
}





